fastapi
uvicorn
python-dotenv
langchain-google-genai
langchain-core
langchain-chroma
langchain-text-splitters
python-multipart
PyJWT==2.8.0
SQLAlchemy
psycopg2-binary
bcrypt
passlib
alembic
langchain-pinecone
pinecone-client
PyPDF2
celery
redis
